<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    批次（wm_batch）


    说明：本文件是手写 SQL。逻辑删除需要自己在 SQL 里写 del_flag。

    【updateById 刻意不更新两个字段】
      batch_code：批次编号冗余在库存、单据行、流水里，改了要批量刷，漏一处账就错
      item_id   ：批次换了物料，它的历史库存和消耗记录全都解释不通了

    【列名对照】
      wm_batch.so_code  = 销售订单编号（列的注释里写作"原 co_code"）
      wm_batch.lot_number = 生产批号，跟 batch_code 不是一回事
-->
<mapper namespace="com.elevn.mes.wm.mapper.WmBatchMapper">

    <!-- wm_batch 表字段与实体属性的映射 -->
    <resultMap id="WmBatchResultMap" type="com.elevn.mes.wm.entity.WmBatch">
        <id column="batch_id" property="batchId"/>
        <result column="batch_code" property="batchCode"/>
        <result column="item_id" property="itemId"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="specification" property="specification"/>
        <result column="unit_of_measure" property="unitOfMeasure"/>
        <result column="produce_date" property="produceDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="recpt_date" property="recptDate"/>
        <result column="vendor_id" property="vendorId"/>
        <result column="vendor_code" property="vendorCode"/>
        <result column="vendor_name" property="vendorName"/>
        <result column="vendor_nick" property="vendorNick"/>
        <result column="client_id" property="clientId"/>
        <result column="client_code" property="clientCode"/>
        <result column="client_name" property="clientName"/>
        <result column="client_nick" property="clientNick"/>
        <result column="so_code" property="soCode"/>
        <result column="po_code" property="poCode"/>
        <result column="workorder_id" property="workorderId"/>
        <result column="workorder_code" property="workorderCode"/>
        <result column="task_id" property="taskId"/>
        <result column="task_code" property="taskCode"/>
        <result column="workstation_id" property="workstationId"/>
        <result column="workstation_code" property="workstationCode"/>
        <result column="tool_id" property="toolId"/>
        <result column="tool_code" property="toolCode"/>
        <result column="mold_id" property="moldId"/>
        <result column="mold_code" property="moldCode"/>
        <result column="lot_number" property="lotNumber"/>
        <result column="quality_status" property="qualityStatus"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 库存记录映射（批次详情里展示"这批货分布在哪些库位"） -->
    <resultMap id="StockResultMap" type="com.elevn.mes.wm.entity.WmMaterialStock">
        <id column="material_stock_id" property="materialStockId"/>
        <result column="item_type_id" property="itemTypeId"/>
        <result column="item_id" property="itemId"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="specification" property="specification"/>
        <result column="unit_of_measure" property="unitOfMeasure"/>
        <result column="unit_name" property="unitName"/>
        <result column="batch_id" property="batchId"/>
        <result column="batch_code" property="batchCode"/>
        <result column="workorder_id" property="workorderId"/>
        <result column="workorder_code" property="workorderCode"/>
        <result column="vendor_id" property="vendorId"/>
        <result column="vendor_code" property="vendorCode"/>
        <result column="vendor_name" property="vendorName"/>
        <result column="vendor_nick" property="vendorNick"/>
        <result column="client_id" property="clientId"/>
        <result column="client_code" property="clientCode"/>
        <result column="client_name" property="clientName"/>
        <result column="client_nick" property="clientNick"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="warehouse_code" property="warehouseCode"/>
        <result column="warehouse_name" property="warehouseName"/>
        <result column="location_id" property="locationId"/>
        <result column="location_code" property="locationCode"/>
        <result column="location_name" property="locationName"/>
        <result column="area_id" property="areaId"/>
        <result column="area_code" property="areaCode"/>
        <result column="area_name" property="areaName"/>
        <result column="package_id" property="packageId"/>
        <result column="package_code" property="packageCode"/>
        <result column="quantity_onhand" property="quantityOnhand"/>
        <result column="quantity_reserved" property="quantityReserved"/>
        <result column="production_date" property="productionDate"/>
        <result column="recpt_date" property="recptDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="frozen_flag" property="frozenFlag"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="quantity_available" property="quantityAvailable"/>
    </resultMap>

    <!-- 公共字段列表 -->
    <sql id="Base_Column_List">
        batch_id, batch_code, item_id, item_code, item_name, specification,
        unit_of_measure, produce_date, expire_date, recpt_date,
        vendor_id, vendor_code, vendor_name, vendor_nick,
        client_id, client_code, client_name, client_nick,
        so_code, po_code, workorder_id, workorder_code, task_id, task_code,
        workstation_id, workstation_code, tool_id, tool_code, mold_id, mold_code,
        lot_number, quality_status, del_flag, remark,
        create_by, create_time, update_by, update_time
    </sql>

    <!-- 库存记录公共字段列表（含算出来的可用数量） -->
    <sql id="Stock_Column_List">
        material_stock_id, item_type_id, item_id, item_code, item_name,
        specification, unit_of_measure, unit_name, batch_id, batch_code,
        workorder_id, workorder_code, vendor_id, vendor_code, vendor_name, vendor_nick,
        client_id, client_code, client_name, client_nick,
        warehouse_id, warehouse_code, warehouse_name,
        location_id, location_code, location_name,
        area_id, area_code, area_name, package_id, package_code,
        quantity_onhand, quantity_reserved,
        (ifnull(quantity_onhand, 0) - ifnull(quantity_reserved, 0)) as quantity_available,
        production_date, recpt_date, expire_date, frozen_flag, del_flag, remark,
        create_by, create_time, update_by, update_time
    </sql>

    <!-- 新增批次 -->
    <insert id="insert" parameterType="com.elevn.mes.wm.entity.WmBatch"
            useGeneratedKeys="true" keyProperty="batchId">
        insert into wm_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchCode != null and batchCode != ''">batch_code,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemCode != null and itemCode != ''">item_code,</if>
            <if test="itemName != null and itemName != ''">item_name,</if>
            <if test="specification != null and specification != ''">specification,</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''">unit_of_measure,</if>
            <if test="produceDate != null">produce_date,</if>
            <if test="expireDate != null">expire_date,</if>
            <if test="recptDate != null">recpt_date,</if>
            <if test="vendorId != null">vendor_id,</if>
            <if test="vendorCode != null and vendorCode != ''">vendor_code,</if>
            <if test="vendorName != null and vendorName != ''">vendor_name,</if>
            <if test="vendorNick != null and vendorNick != ''">vendor_nick,</if>
            <if test="clientId != null">client_id,</if>
            <if test="clientCode != null and clientCode != ''">client_code,</if>
            <if test="clientName != null and clientName != ''">client_name,</if>
            <if test="clientNick != null and clientNick != ''">client_nick,</if>
            <if test="soCode != null and soCode != ''">so_code,</if>
            <if test="poCode != null and poCode != ''">po_code,</if>
            <if test="workorderId != null">workorder_id,</if>
            <if test="workorderCode != null and workorderCode != ''">workorder_code,</if>
            <if test="taskId != null">task_id,</if>
            <if test="taskCode != null and taskCode != ''">task_code,</if>
            <if test="workstationId != null">workstation_id,</if>
            <if test="workstationCode != null and workstationCode != ''">workstation_code,</if>
            <if test="toolId != null">tool_id,</if>
            <if test="toolCode != null and toolCode != ''">tool_code,</if>
            <if test="moldId != null">mold_id,</if>
            <if test="moldCode != null and moldCode != ''">mold_code,</if>
            <if test="lotNumber != null and lotNumber != ''">lot_number,</if>
            <if test="qualityStatus != null and qualityStatus != ''">quality_status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchCode != null and batchCode != ''">#{batchCode},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemCode != null and itemCode != ''">#{itemCode},</if>
            <if test="itemName != null and itemName != ''">#{itemName},</if>
            <if test="specification != null and specification != ''">#{specification},</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''">#{unitOfMeasure},</if>
            <if test="produceDate != null">#{produceDate},</if>
            <if test="expireDate != null">#{expireDate},</if>
            <if test="recptDate != null">#{recptDate},</if>
            <if test="vendorId != null">#{vendorId},</if>
            <if test="vendorCode != null and vendorCode != ''">#{vendorCode},</if>
            <if test="vendorName != null and vendorName != ''">#{vendorName},</if>
            <if test="vendorNick != null and vendorNick != ''">#{vendorNick},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="clientCode != null and clientCode != ''">#{clientCode},</if>
            <if test="clientName != null and clientName != ''">#{clientName},</if>
            <if test="clientNick != null and clientNick != ''">#{clientNick},</if>
            <if test="soCode != null and soCode != ''">#{soCode},</if>
            <if test="poCode != null and poCode != ''">#{poCode},</if>
            <if test="workorderId != null">#{workorderId},</if>
            <if test="workorderCode != null and workorderCode != ''">#{workorderCode},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="taskCode != null and taskCode != ''">#{taskCode},</if>
            <if test="workstationId != null">#{workstationId},</if>
            <if test="workstationCode != null and workstationCode != ''">#{workstationCode},</if>
            <if test="toolId != null">#{toolId},</if>
            <if test="toolCode != null and toolCode != ''">#{toolCode},</if>
            <if test="moldId != null">#{moldId},</if>
            <if test="moldCode != null and moldCode != ''">#{moldCode},</if>
            <if test="lotNumber != null and lotNumber != ''">#{lotNumber},</if>
            <if test="qualityStatus != null and qualityStatus != ''">#{qualityStatus},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <!-- 根据ID修改：只更新非 null 字段；batch_code / item_id 不参与修改 -->
    <update id="updateById" parameterType="com.elevn.mes.wm.entity.WmBatch">
        update wm_batch
        <set>
            <if test="produceDate != null">produce_date = #{produceDate},</if>
            <if test="expireDate != null">expire_date = #{expireDate},</if>
            <if test="recptDate != null">recpt_date = #{recptDate},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="vendorCode != null">vendor_code = #{vendorCode},</if>
            <if test="vendorName != null">vendor_name = #{vendorName},</if>
            <if test="vendorNick != null">vendor_nick = #{vendorNick},</if>
            <if test="clientId != null">client_id = #{clientId},</if>
            <if test="clientCode != null">client_code = #{clientCode},</if>
            <if test="clientName != null">client_name = #{clientName},</if>
            <if test="clientNick != null">client_nick = #{clientNick},</if>
            <if test="soCode != null">so_code = #{soCode},</if>
            <if test="poCode != null">po_code = #{poCode},</if>
            <if test="workorderId != null">workorder_id = #{workorderId},</if>
            <if test="workorderCode != null">workorder_code = #{workorderCode},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="taskCode != null">task_code = #{taskCode},</if>
            <if test="workstationId != null">workstation_id = #{workstationId},</if>
            <if test="workstationCode != null">workstation_code = #{workstationCode},</if>
            <if test="toolId != null">tool_id = #{toolId},</if>
            <if test="toolCode != null">tool_code = #{toolCode},</if>
            <if test="moldId != null">mold_id = #{moldId},</if>
            <if test="moldCode != null">mold_code = #{moldCode},</if>
            <if test="lotNumber != null">lot_number = #{lotNumber},</if>
            <if test="qualityStatus != null and qualityStatus != ''">quality_status = #{qualityStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where batch_id = #{batchId}
        and del_flag = '0'
    </update>

    <!-- 回填批次编号：新增时先插入（让数据库生成主键），再按主键拼出批次号补回去 -->
    <update id="updateBatchCode" parameterType="com.elevn.mes.wm.entity.WmBatch">
        update wm_batch set batch_code = #{batchCode}
        where batch_id = #{batchId}
    </update>

    <!-- 根据ID逻辑删除 -->
    <delete id="deleteById">
        update wm_batch set del_flag = '1'
        where batch_id = #{id}
        and del_flag = '0'
    </delete>

    <!-- 批量逻辑删除 -->
    <update id="deleteBatch">
        update wm_batch set del_flag = '1'
        where del_flag = '0'
          and batch_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 根据ID查询单条 -->
    <select id="selectById" resultMap="WmBatchResultMap">
        select
        <include refid="Base_Column_List"/>
        from wm_batch
        <where>
            del_flag = '0'
            and batch_id = #{id}
        </where>
    </select>

    <!-- 根据批次编号查询（唯一性校验用） -->
    <select id="selectByBatchCode" resultMap="WmBatchResultMap">
        select
        <include refid="Base_Column_List"/>
        from wm_batch
        <where>
            del_flag = '0'
            and batch_code = #{batchCode}
        </where>
        limit 1
    </select>

    <!-- 多条件查询：物料 / 批号 / 生产日期区间 / 质量状态 -->
    <select id="selectByCondition" parameterType="com.elevn.mes.wm.entity.WmBatch"
            resultMap="WmBatchResultMap">
        select
        <include refid="Base_Column_List"/>
        from wm_batch
        <where>
            del_flag = '0'
            <if test="batchId != null">and batch_id = #{batchId}</if>
            <if test="itemId != null">and item_id = #{itemId}</if>
            <if test="itemCode != null and itemCode != ''">
                and item_code like concat('%', #{itemCode}, '%')
            </if>
            <if test="itemName != null and itemName != ''">
                and item_name like concat('%', #{itemName}, '%')
            </if>
            <if test="batchCode != null and batchCode != ''">
                and batch_code like concat('%', #{batchCode}, '%')
            </if>
            <if test="lotNumber != null and lotNumber != ''">
                and lot_number like concat('%', #{lotNumber}, '%')
            </if>
            <if test="qualityStatus != null and qualityStatus != ''">and quality_status = #{qualityStatus}</if>
            <if test="vendorId != null">and vendor_id = #{vendorId}</if>
            <if test="workorderId != null">and workorder_id = #{workorderId}</if>
            <if test="produceDateStart != null">and produce_date &gt;= #{produceDateStart}</if>
            <if test="produceDateEnd != null">and produce_date &lt;= #{produceDateEnd}</if>
        </where>
        order by batch_id desc
    </select>

    <!-- 查询某批次的库存分布 -->
    <select id="selectStockByBatchId" resultMap="StockResultMap">
        select
        <include refid="Stock_Column_List"/>
        from wm_material_stock
        <where>
            del_flag = '0'
            and batch_id = #{batchId}
            and quantity_onhand > 0
        </where>
        order by material_stock_id asc
    </select>

    <!-- 统计批次上的库存记录数 -->
    <select id="countStockByBatchId" resultType="int">
        select count(1) from wm_material_stock
        where del_flag = '0'
          and batch_id = #{batchId}
          and quantity_onhand > 0
    </select>

</mapper>
